# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# Flask-related files
instance/
config.py

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor settings
.vscode/
.idea/

# Log files
*.log

# Dependency management
*.sqlite3
node_modules/
package-lock.json
yarn.lock
